
<EditForm Model="genero" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nombre del Genero:</label>
        <div>
            <InputText class="form-control" @bind-Value="genero.GeneroNombre" />
            <ValidationMessage For="@(()=> genero.GeneroNombre)" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Gardar Cambios</button>
</EditForm>


@code {

    [Parameter] public Genero genero { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
