<h3>CustomNotFound</h3>
<p>Sorry, there's nothing at this address.</p>
<p>Lo Siento, la página no Existe!.</p>

@code {      protected override void OnInitialized()
    {
        Console.WriteLine("404 - la Pagina No Existe");
    }
}
